- provide(:page_title, 'Resend confirmation instructions')
.row[style="margin-top:60px;"]
  .col-md-6.col-md-offset-3
    .form-group
      h2
        | Resend confirmation instructions
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!(resource: resource)
        .field[style="margin-bottom:20px;"]
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
        .actions[style="margin-bottom:20px;"]
          = f.submit "Resend confirmation instructions", class: "btn btn-success btn-block"
      hr
      = render "devise/shared/links"
