<div class="col-lg-3 col-sm-6 artist">
  <%= link_to artist_path(artist.id), class: "portfolio-box", ontouchstart: "" do %>
    <div class="image">
      <%= image_tag artist.images.empty? ? Constants::DEFAULT_IMG_URL : artist.images.first["url"], class: "img-responsive", alt: artist.name %>
    </div>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <h4><%= artist.name %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
