<%= form_tag(artists_path, method: :get, class: "form-inline") do %>
  <div class="form-group">
    <div class="field">
      <%= text_field_tag :search, '', class: "form-control", placeholder: "Search artists" %>
    </div>
    <div class="actions">
      <%= submit_tag 'Search', name: nil, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
