<% provide(:page_title, 'Artists') %>
<div class="row" style="margin-top:60px;">
  <div class="search col-md-6 col-md-offset-3" style="margin-top:40px;">
    <%= render partial: 'search' %>
  </div>
</div>

<hr>

<div class="row no-gutter">
  <div id="albums-list">
    <% if @artists.present? %>
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h4>Results of <%= params[:artist_name] %></h4>
          <%= render partial: 'artist', collection: @artists %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <h4>Top Rating Artists</h4>
      <%= render partial: 'persisted_artist', collection: @top_rating_artists %>
    </div>
  </div>
</div>
