<% provide(:page_title, 'Artists') %>
<div class="row" style="margin-top:60px;">
  <div class="search col-md-6 col-md-offset-3" style="margin-top:40px;">
    <%= render partial: 'search' %>
  </div>
</div>

<hr>

<div class="row no-gutter">
  <div id="artists-list">
    <%= render @artists %>
  </div>
  <div class="pagination-for-artists">
    <%= paginate @artists %>
  </div>
</div>
