<div class="buttons" style="margin-top: 20px;">
  <%= link_to user_facebook_omniauth_authorize_path do %>
    <div class="btn btn-default btn-block btn-facebook">
      <span class="fab fa-facebook"></span>
      Login with Facebook
    </div>
  <% end %>
  <!-- TODO: TwitterとGoogleアカウントでのログイン機能実装-->
  <!-- <ul>
    <li>
      Facebook
    </li>
    <li>
      <div class="btn btn-default btn-twitter">
        <span class="fab fa-twitter"></span>
        Twitter
      </div>
    </li>
    <li>
      <div class="btn btn-default btn-google">
        <span class="fab fa-google"></span>
        Google
      </div>
    </li>
  </ul> -->
</div>
