- if current_user?(user: user)
  .panel.panel-default
    .panel-body.text-center
      h4
        | New releases waiting for your review.
      .highest-rated
        = link_to 'Search Albums', albums_path, class: 'btn btn-primary'
      .row
        = render partial: 'albums/album', collection: new_releases
  .panel.panel-default
    .panel-body.text-center
      h4
        | Top raiting albums
      .highest-rated
        = link_to 'Search Albums', albums_path, class: 'btn btn-primary'
      .row
        = render partial: 'albums/persisted_album', collection: top_rating_albums
- else
  .row
    .col-md-6
      h4
        | There is no review...
