.row.text-center
  h5 Please login or signin before review this album &#x1f64f;
  = link_to 'Login', new_user_session_path, class: 'btn btn-success', style: 'margin-right:10px;'
  = link_to 'Signin', new_user_registration_path, class: 'btn btn-primary'
