div class=(current_page?(root_path) ? "col-lg-2 col-sm-4 col-xs-6" : "col-lg-3 col-sm-4 col-xs-12 album")
  = link_to album_path(persisted_album.spotify_id), class: "portfolio-box", ontouchstart: "" do
    = image_tag persisted_album.image, class: "img-responsive #{ "img-rounded" unless current_page?(root_path) }", alt: persisted_album.name
    div class="portfolio-box-caption #{'img-rounded' unless current_page?(root_path)}"
      .portfolio-box-caption-content
        .project-category.text-faded.delete-extra-space
          = persisted_album.artists.map { |artist| artist.name }.join(' / ')
        .project-name.delete-extra-space
          = persisted_album.name
