= form_with(url: search_albums_path, method: :get, local: true) do |f|
  .form-group.has-search
    span.fa.fa-search.form-control-button
    = f.text_field :album_name, class: "form-control", placeholder: "Search albums"
