<div class="row">
  <h1>Editing Album</h1>
  <%= render 'form', album: @album %>
  <hr>
  <div class="col-md-8 col-md-offset-2">
    <%= link_to 'Back', @album, class: "btn btn-warning btn-block", style: "color:white;" %>
    <hr>
    <%= link_to 'Back to Albums', albums_path, class: "btn btn-default btn-block", style: "margin-bottom:20px;" %>
  </div>
</div>
