<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at App Store & Google Play!</h2>
            <!-- <%= image_tag "creative/portfolio/google-play-badge.png", class: "", alt: "" %> -->
            <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside>
