<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Your Favorite Music with Your Review</h1>
      <hr>
      <p>Music Review can help you find new interedted music better than other websites. You can find sophisticated, mellow, traquil or emotional music from other's review !</p>
      <%= link_to "Find Out More", new_user_session_path, class: "btn btn-primary btn-xl page-scroll" %>
    </div>
  </div>
</header>
