<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Your Favorite Music with Your Review</h1>
      <hr>
      <p>We can help you find new music with your intuition. You can find sophisticated, mellow, traquil or emotional music by someone's review !</p>
      <%= link_to "Find Out More", user_signed_in? ? albums_path : new_user_session_path, class: "btn btn-primary btn-xl page-scroll" %>
    </div>
  </div>
</header>
