section#new-releases.no-padding
  .container-fluid.no-padding
    .row
      .col-lg-12.text-center[style="padding-top:30px; padding-bottom:10px;"]
        h2.section-heading
          | New Releases
        hr.primary
    .row.no-gutter
      = render partial: 'albums/album', collection: albums
