<section class="no-padding" id="new-releases">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top:30px; padding-bottom:10px;">
        <h2 class="section-heading">New Releases</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid no-padding">
    <div class="row no-gutter">
      <%= render partial: 'albums/album', collection: albums %>
    </div>
  </div>
</section>
