section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading
          | Our Services
        hr.primary
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-music.wow.bounceIn.text-primary
          h3
            | Listen Songs
          p.text-muted
            | You can listen new curious songs.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary[data-wow-delay=".1s"]
          h3
            | Post Your Review
          p.text-muted
            | You can review with 5-grade star.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-newspaper.wow.bounceIn.text-primary[data-wow-delay=".2s"]
          h3
            | Watch Other's Review
          p.text-muted
            | You can watch other's review and find some interesting music !
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary[data-wow-delay=".3s"]
          h3
            | Find New Favorite Song
          p.text-muted
            | You can find new favorite song !
