.buttons {
  text-align: center;

  ul {
    margin: 0 auto;
    display: -webkit-inline-flex;
    list-style: none;

    li {
      float:left;
      margin-right: 10px;
    }
  }
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.btn-spotify {
  color: white;
  background-color: #1ed761;
}

.btn-apple {
  color: white;
  background-color: gray;
}
