/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font_awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// common settings
ul, li {
  list-style:none;
  margin: 0;
  padding: 0;
}

.form-group {

  h2 {
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
}

.buttons {
  text-align: center;

  h2 {
    // text-align: center;
  }

  ul {
    margin: 0 auto;
    display: -webkit-inline-flex;

    li {
      float:left;
      margin-right: 10px;
    }
  }
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.btn-twitter {
  color: white;
  background-color: #00aced;
}

.btn-google {
  color: white;
  background-color: #dd4b39;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}
