<div class="modal fade" id="myModal-<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit review</h4>
      </div>
      <span id="error-messages-for-update"></span>
      <div class="modal-body">
        <%= render 'reviews/form', review: review, album: review.album, id: review.id, type: 'edit' %>
      </div>
    </div>
  </div>
</div>
