//remove old validation messages
$('.notice').remove();

//display new validation messages
$('#error-messages-for-create').append(
  '<div class="error_field alert alert-danger" role="alert">' +
    '<ul class="error_msg">' +
      '<% @review.errors.full_messages.each do |message| %>' +
        '<li class="notice">' +
          '<%= escape_javascript(message) %>' +
        '</li>' +
      '<% end %>' +
    '</ul>' +
  '</div>'
);
