| // remove old validation messages $('.notice').remove(); $('.error_field').remove(); // display new validation messages $('#error-messages-for-update').append( '
.error_field.alert.alert-danger[role="alert"]
  | ' + '
  ul.error_msg
    | ' + '
    - @review.errors.full_messages.each do |message|
      | ' + '
      li.notice
        | ' + '
        = j(message)
        | ' + '
      | ' + '
    | ' + '
  | ' + '
| ' ); 
