// remove old validation messages
$('.notice').remove();
$('.error_field').remove();

// display new validation messages
$('#error-messages-for-update').append(
  '<div class="error_field alert alert-danger" role="alert">' +
    '<ul class="error_msg">' +
      '<% @review.errors.full_messages.each do |message| %>' +
        '<li class="notice">' +
          '<%= j(message) %>' +
        '</li>' +
      '<% end %>' +
    '</ul>' +
  '</div>'
);
